<header class="site-header">
  <h1 class="site-header__title">Hi bitches!</h1>
</header>
<main class="site-main">
  <img src="/public/images/hero-640x640.jpg" alt="Alt tag">
  <div class="limit-width">
    {{ testKey }}
    <div id="app"></div>
  </div>
</main>