<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/build/app.css">
  </head>
  <body>
    {{> body }}
    <script src="/public/build/app.js"></script>
  </body>
</html>
